/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('<link rel="preconnect" href="https://fonts.googleapis.com">');

/* Styles for the body */

body {
		font-family: "Merriweather", serif;
		font-weight: 400;
		font-style: normal;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #f0e0ed;
	color: #0e6b0e
}

.resume-main {
	background-color: #f7f7f7;
}

.resume-aside {
	background-color: #cefcda;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #742096;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.bio-text-shanel { 
	font-weight:  900;
	text-align: center;
	color: #0e6b0e 
}

.bio-text-shanel2 {
	font-weight: 700;
	text-align: center;
	color: #820db1 
}